.iconCol{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}

.newsLink{
    text-decoration: none;
    color: black;
}

.newsItemCard{
    border-bottom: 1px solid black;
}

.noMarginB{
    margin-bottom:0;
}

.noMarginT{
    margin-top:0;
}

.text-grey{
    color: darkgray !important;
}

.fullWidth{
    width:100%
}